<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<input type="text" class="form-control" [(ngModel)] = "serverName">
		</div>
	</div>
	<div class="col-md-12">
		<div> You typed : {{serverName}} </div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreation()">Add server</button>
	</div>
	<div class="col-md-12">
		{{ serverCreationStatus }}
	</div>
	<div class="col-md-12">
		<h3>Created servers : </h3>
		<app-server *ngFor="let server of servers"></app-server>
	</div>
</div>
